:root {
  --roxo: #A63AE6;
  --roxo-claro: #FAF5FF;
  --cinza-texto: #6B6584;
  --preto-texto: #1A1530;
  --verde-saldo: #008000;
  --amarelo: #FFCC33;
  --rosa: #FF6FAA;
  --lilas: #D095F0;
}

body {
  background-color: #FFFFFF;       
  color: var(--preto-texto);
}

input::placeholder {
  color: var(--cinza-texto);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #E5E0EE;
  border-radius: 999px;
}
